.container{
   
        margin: 30px 10% 0px 15%;
        width: 70%;
        height: 100vh;
        display: flex;
}
.container .left-side{
    width: 55%;
    height: auto;
    display: block;
    text-align: center;
    align-items: center;
}

.container .right-side{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .left-side .image{
    width: 100%;
    height: auto;


}
.container .right-side .content{
    width: 80%;
    height: 100%;
}
.tile-product{
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: auto;
    font-family: 'Fjalla One', sans-serif;
    border-bottom: 1px solid;
    padding-top:3px;
    padding-bottom: 10px;

}   
.container .right-side .content .description{
     width: 100%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.description .model{
    font-family: 'Archivo', sans-serif;
    color: gray;
    font-size: 15px;
}
.description .status-product{
    font-family: 'Archivo', sans-serif;
    color: gray;
    font-size: 15px;
}
.right-side .content .price{
    width: 100%;
    height: auto;
    padding-top: 20px;
    font-size:30px;
    font-family: 'Cairo', sans-serif;
    color: orangered;
    padding-bottom: 30px;
    border-bottom: 1px dashed black;
}
.right-side .content .detailed-product{
    width: 100%;
    height: auto;
    text-align: inherit;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 2px dotted black;
}
/* .right-side .content .size-number{
    width: 100%;
    height: auto;
    justify-content:space-between;
    display: flex;
    padding-top: 15px;
}
.right-side .content .size-number .size-product{
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 20px;
}
.right-side .content .size-number .number-product{
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 20px;
}
.right-side .content .select-size-number{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.select-size-number .select-size{
    width: 100px;
    height: auto;
   
}
.select-size-number .select-number{
    width: 100px;
    height: auto;
   
} */
.container .right-side .content .outline{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.container .right-side .content .size-product{
    width: 100%;
    height: auto;
    
}
.container .right-side .content .size-product .size-product-detailed{
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 20px;
}
.container .right-side .content .number-product{
    width: 100%;
    height: auto;
}
.container .right-side .content .number-product .number-product-detailed{
    font-family: 'Pacifico', cursive;
    color: black;
    font-size: 20px;
}
.number-product .select-number{
    width: 190px;
    height: auto;
}
.size-product .select-size{
    width: 150px;
    height: auto;
}
.outline-button-icon{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.button-addToShoppingCart{
    width: 75%;
    height: 55px;
    background-color: black;
    color: white;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    border: none;
    box-shadow: 0 2px #666666;
    cursor: pointer;
}
.button-addToShoppingCart:hover {background-color:black}

.button-addToShoppingCart:active {
  background-color: black;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.icon-lover{
    width: 80px;
    height: 55px;
    margin-top: 15px;
    background-color: black;
    color: orangered;
    font-size: 20px;
    
}
.outline-button-payment{
    width: 100%;
    height: 55px;
    background-color:orange;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    box-shadow: 0 2px #666666;
    cursor: pointer;
}
.outline-button-payment:hover {background-color:orange}

.outline-button-payment:active {
  background-color:orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.information{
    width: 100%;
    height: auto;
    justify-content: start;
    font-size: 20px;
    margin-top: 25px;
    color: saddlebrown ;
    font-family: 'Bungee', cursive;
    padding-bottom: 10px;
    border-bottom: 2px dotted gray;
}
.Change_Product{
    width: 100%;
    height: auto;
    justify-content: start;
    font-size: 20px;
    margin-top: 25px;
    color: saddlebrown ;
    font-family: 'Bungee', cursive;
    padding-bottom: 10px;
    border-bottom: 2px dotted gray;
}
.Protect_Product{
    width: 100%;
    height: auto;
    justify-content: start;
    font-size: 20px;
    margin-top: 25px;
    color: saddlebrown ;
    font-family: 'Bungee', cursive;
    padding-bottom: 10px;
    border-bottom: 2px dotted gray;
}
.inline-information{
    width: 100%;
    height: auto;
    justify-content: space-around;
    color:black ;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;

}
.inline-changeproduct{
    width: 100%;
    height: auto;
    justify-content: space-around;
    color:black ;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}
.inline-protect{
    width: 100%;
    height: auto;
    justify-content: space-around;
    color:black ;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 18px;
    padding-bottom: 10px;
}
.container .left-side .left-bottom-side{
    width: 100%;
    height: auto;
    margin-top: 15px;
}
.left-bottom-side .review{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Candal', sans-serif;
    font-size: 20px;
    text-align: center;
}
.left-bottom-side .question {
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Candal', sans-serif;
    font-size: 20px;
    text-align: center;
}
.left-bottom-side .Comment-next{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Candal', sans-serif;
    font-size: 20px;
    
}

.Comment-next






.sum-question{
    width: 100%;
    height: auto;
    display: block;
}
.notification{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
/* .mix-check-button{
    width: 100%;
    height: auto;
    display: flex;
} */
.text-label{
    width: 100%;
    height: auto;
    text-align: start;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.all-question{
    width: 100%;
    height: auto;
    text-align: start;
    border-bottom: 2px solid black;
    font-family: 'Bai Jamjuree', sans-serif;
    padding-bottom: 10px;
    font-size: 30px;
}
 .radio-button{
    width: 70%;
    height: auto;
}
 .btn-checkedBox{
    width: 30%;
    height: auto;
    font-family: 'Bai Jamjuree', sans-serif;
    background-color:burlywood;
    font-size: 20px;
}
.recent-answer{
    width: 100%;
    height: auto;
    font-family: 'Lateef', cursive;
    font-size: 20px;
    padding-top: 30px;
    color: black;
}
.popular-answer{
    width: 100%;
    height: auto;
    font-family: 'Lateef', cursive;
    font-size: 20px;
    padding-top: 30px;
    color: black;
}
.no-answer{
    width: 100%;
    height: auto;
    font-family: 'Lateef', cursive;
    font-size: 20px;
    padding-top: 30px;
    color: black;
}
.comment-author{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Kurale', serif;
    font-size: 20px;
}
.comment-content{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Kurale', serif;
    font-size: 15px;
    text-align: start;
}
.comment-inline{
    width: 100%;
    height: 100%;
    display: block;
}
.comment-inline .comment-first
{
    width: 100%;
    height: 50%;

    display: flex;
}
.comment-first .commnet-img{
    width: 30%;
    height: auto;
    border-radius: 75%;
    text-align: start;
    text-align: start;
    margin-right: 500px;
}
.comment-first .comment-content{
    width: 70%;
    height: auto;
}
/* tile uploaded pictures */
.boss-review{
    width: 100%;
    height: auto;
    padding-bottom: 40px;
}
.boss-review .name-poster-review{
    width: 100%;
    height: auto;
    text-align: start;
}
.name-poster-review{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Kurale', serif;
    font-size: 20px;
}
.content-reivew{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Kurale', serif;
    font-size: 15px;
    text-align: start;
}
.rating-review{
    width: 100%;
    height: auto;
    text-align: start;
}